<div>
  <link href="./home-menu.css" rel="stylesheet" />
  <div class="home-menu-container">
    <div class="home-menu-container1">
      <button class="home-menu-button button"><span>All readers</span></button>
      <span class="home-menu-text"><span>Reader:</span></span>
      <button class="home-menu-button01 button">
        <span>
          <span>Add reader</span>
          <span></span>
        </span>
      </button>
      <button class="home-menu-button02 button">
        <span><span>Find reader</span></span>
      </button>
      <button class="home-menu-button03 button">
        <span><span>Remove reader</span></span>
      </button>
      <button class="home-menu-button04 button">
        <span><span>Update reader</span></span>
      </button>
    </div>
    <div class="home-menu-container2">
      <button class="home-menu-button05 button">
        <span>All employees</span>
      </button>
      <span class="home-menu-text07"><span>Employees:</span></span>
      <button class="home-menu-button06 button">
        <span>
          <span>Add employee</span>
          <span></span>
        </span>
      </button>
      <button class="home-menu-button07 button">
        <span><span>Find employee</span></span>
      </button>
      <button class="home-menu-button08 button">
        <span><span>Remove employee</span></span>
      </button>
      <button class="home-menu-button09 button">
        <span><span>Update employee</span></span>
      </button>
    </div>
    <button class="home-menu-button10 button"><span>All books</span></button>
    <span class="home-menu-text14"><span>Books:</span></span>
    <button class="home-menu-button11 button">
      <span>
        <span>Add book</span>
        <span></span>
      </span>
    </button>
    <button class="home-menu-button12 button">
      <span><span>Find book</span></span>
    </button>
    <button class="home-menu-button13 button">
      <span><span>Remove book</span></span>
    </button>
    <button class="home-menu-button14 button">
      <span><span>Update book</span></span>
    </button>
    <button class="home-menu-button15 button">
      <span><span>Give book</span></span>
    </button>
    <button class="home-menu-button16 button">
      <span><span>Take book</span></span>
    </button>
    <button class="home-menu-button17 button">
      <span>All departments</span>
    </button>
    <span class="home-menu-text23"><span>Department:</span></span>
    <button class="home-menu-button18 button">
      <span>
        <span>Add depatrment</span>
        <span></span>
      </span>
    </button>
    <button class="home-menu-button19 button">
      <span><span>Find department</span></span>
    </button>
    <button class="home-menu-button20 button">
      <span><span>Update department</span></span>
    </button>
  </div>
</div>
